<!DOCTYPE html>
<html lang="en" ng-app="myApp" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Osmosis Client Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


      <!-- this is for all java script -->
      <script src="assets/js/jquery-1.9.0.min.js" type="text/javascript"></script>
      <script src="assets/js/jquery.tooltipster.min.js"></script>

      <!--this is for the tags/labels-->
      <link href="assets/css/bootstrap-tagmanager.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="assets/js/bootstrap-tagmanager.js"></script>


      <!-- Le styles -->
      <!-- this is for the tool tip -->
      <link rel="stylesheet" href="assets/css/jquery.tooltipster.css" />

      <!--this is for the tags/labels-->
      <link rel="stylesheet" type="text/css" href="assets/css/jquery.tagsinput.css" />
      <!-- this is for bootstrap-->
      <link href="assets/css/bootstrap.css" rel="stylesheet">
      <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
      <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">


      <style type="text/css">
      
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-image: url(assets/img/greyWoodBackground.jpg) ;
      }

      #loadingscreen {
        display:    none;
        position:   fixed;
        top:        0;
        right:       0;
        z-index:    999;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 ) 
                    url('http://osmosisgalaxy.github.com/Osmosis/assets/img/loader.gif') 
                    50% 50% 
                    no-repeat;
      }

      .navbar{
        z-index: 998;
      }

      .project_img{
        display: block;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
      .project_video{
        display: block;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }

    </style>
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/angular-resource.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>

  </head>
  <body ng-controller="ClientCtrl" ng-show="isLogin">
    <div id="loadingscreen"></div>
    <script>
      $('#loadingscreen').show();
    </script>
    <!-----------  Start of navigation bar  ------------>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <img src="assets/img/OsmosisLogo.png" width=9.5% style=" position:relative;  top: 20px">
          <div style="position:relative; top: 5px; float:right; color:grey">Welcome, 
          	<!-- <a href="#" id="profile_popover" rel="popover" data-content="Skills:skill Area of Interest:area_of_interest" data-original-title="Profile"> -->{{display_name}}<!-- </a> -->
          <br>
          </div>
          <br>
          <ul class="nav" style="position:relative; left:110px">
            <li class="active"><a href="client-page.html"><i class="icon-home"></i> HOME</a></li>
            <li><a href="project-page.html"><i class="icon-book"></i> PROJECT</a></li>
           <!--  <li><a href="#link"><i class="icon-book"></i> TEAM</a></li> -->
          </ul>
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar navbar-inverse navbar-fixed-top -->
    <!-----------  End of navigation bar  ------------>
    <br/>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span7">

          <!--Body content-->
            <form class="form-horizontal" id="createForm">  
              <fieldset>
	              <h3><b>Create a Project</b></h3>

                <div class="offset9"><button class="btn btn-small" ng-click="genSampleProj()">Generate Sample Project</button></div>
                    <div class="well" style="font-size:90%; background:rgba(243,243,243,0.8); margin:0px; border-color:#BDBDBD">
                  		Thank you for using Osmosis! <br>
						To post a project to our SMU-SIS students, it only takes you less than 5 minutes to fill up the form below! <br>
						Get ready to dwell into the experience of working with our SMU-SIS Final Year Project team, with a total dedicated project time of 1000-hour. 
							<div align="right">
								For any queries, do contact us at <a href="mailto:osmosisgalaxy@gmail.com">osmosisgalaxy@gmail.com.</a> <br>
								For academic information, click on the tab “About IS480” for more details.
							</div>
                  	</div>
	    
                <hr style="position:relative; top:-10px; border-color:#BDBDBD">

                <div class="control-group">  
                  <label class="control-label" for="projectName" style="font-weight:bold">Project Name</label>
                  <div class="controls">
                    <input type="text" class="span9" id="projectName" ng-model="projectName" style="font-size:85%"required>
                  </div>
                </div>

                <div class="control-group">  
                  <label class="control-label" for="projectObjective" style="font-weight:bold">Project Scope<br/></label>
                  
                  <div class="controls">
                    <div id="projectObjectivetb" style="display: none;">
                      <a data-wysihtml5-command="bold">bold</a> |
                      <a data-wysihtml5-command="italic" title="CTRL+I">italic</a> |
                      <a data-wysihtml5-command="underline">underline</a> |
                      <a data-wysihtml5-command="insertUnorderedList">Unordered List</a>
                    </div>
                    <textarea class="span9 tooltipClient" ng-model="projectObjective" id="projectObjective" rows="12" style="resize:vertical; font-size:85%" data-original-title="Skills"
                          title="Over <font color='#00FF00'><strong>85%</strong></font>
                      of students surveyed have rated this field as <font color='#00FFFF'><strong>important</strong></font> for them when making a decision to take up a project"></textarea>
                   </div>
                </div>

                <div class="control-group"> 
                  <label class="control-label" for="technicalRequirements" style="font-weight:bold">Technologies Exposure<br/></label>
                  <div class="controls">
                      <input type="text" data-original-title="Skills"  ng-model="technologiesExposure" id="technologiesExposure" name="tags" placeholder="Tags" class="tagsManager" />
                      <img src="assets/img/info.png" class="tooltipClient1" title="Around <font color='#FFA500'><strong>63%</strong></font> of students surveyed are interested in the amount of technical exposure a project is able to provide them"/>

                      <div>You may enter only up to only maximum of 6 tags, add tags by pressing SPACE, ENTER or ,

                      </div>
                  </div>

                </div>
                  <div class="control-group"> 
                  <label class="control-label" for="teamSize" style="font-weight:bold">Team Size Required<br/></label>
                  <div class="controls">
                    <input type="text" class="span9 tooltipClient" ng-model="teamsize" id="teamsize" style="font-size:85%">
                  </div>
                </div>

                  <div class="control-group">
                 <label class="control-label" for="contactPerson" style="font-weight:bold">Company Name</label>  
                  <div class="controls">  
                    <input type="text" class="span9" ng-model="companyName" id="companyName" style="font-size:85%" required>
                  </div>
                </div>

                <div class="control-group">  
                  <label class="control-label" for="contactPerson" style="font-weight:bold">Contact Person</label>  
                  <div class="controls">  
                    <input type="text" class="span9" ng-model="contactPerson" id="contactPerson" style="font-size:85%" required>
                  </div>
                </div> 

                <div class="control-group">  
                  <label class="control-label" for="contactEmail" style="font-weight:bold">Contact Email<br/> </label>  
                  <div class="controls">  
                    <input type="text" class="span9 tooltipClient1" ng-model="contactEmail" id="contactEmail" style="font-size:85%" data-original-title="Skills" title="More than <font color='#00FF00'><strong>93%</strong></font> of students will contact potential sponsors through email" required>
                  </div>
                </div>

                <div class="control-group">  
                  <label class="control-label" for="contactNumber" style="font-weight:bold">Contact Number<br/></label>  
                  <div class="controls">  
                    <input type="text" class="span9 tooltipClient1" ng-model="contactNumber" id="contactNumber" style="font-size:85%" data-original-title="Skills"
                         title=" <font color='#FFA500'><strong>69%</strong></font> of students surveyed will contact you through the contact number provided">


                  </div>
                </div>

                <div class="control-group">  
                  <label class="control-label" for="projImg" style="font-weight:bold">Project Image<br/></label>  
                  <div class="controls">  
                    <input type="text" class="span9 tooltipClient1" ng-model="projImg" id="projImg" style="font-size:85%" data-original-title="Skills"
                         title="">
                  </div>
                </div>

                <div class="control-group">  
                  <label class="control-label" for="projVideo" style="font-weight:bold">Project Video<br/></label>  
                  <div class="controls">  
                    <input type="text" class="span9 tooltipClient1" ng-model="projVideo" id="projVideo" style="font-size:85%" data-original-title="Skills"
                         title="">
                  </div>
                </div>

                <!-- <div class="control-group">  
                  <label class="control-label" for="display" style="font-weight:bold">Display to students?<br/>  </label> 
                  <div class="controls"> 
  	                 
                    <label class="checkbox">
        						  <input type="checkbox" id="inlineCheckbox1" value="option1" style="font-weight:bold"> Yes
        						</label>
                  </div>
                </div> -->

                <div class="form-actions" align="right">  
                	<button ng-click="reset()" class="btn">Reset</button>  
                	<button ng-click="createProj()" class="btn btn-primary">Create</button>
                </div>  <!-- form actions -->
              </fieldset>  
            </form>
        </div>
        <div class="span5">
        <!--Sidebar content-->
        <br>
          <!-- <div class="well" style="overflow: auto; height: 930px; background:rgba(240,240,240,0.7); border-style:solid; border-color:#9A9A9A"> -->
      
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#pane1" data-toggle="tab" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'">My Projects</a></li>
                <li><a href="#pane2" data-toggle="tab" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'">About IS480</a></li>
              </ul>
              <div class="tab-content">
                <div id="pane1" class="tab-pane active">
                  <div align="center" ng-hide="have_project">You do not have any projects currently.</div>
                  <div class="accordion" id="mainAccordion">
                    <div class="accordion-group" ng-repeat = "(key,val) in client_proj"><!--For Every Project in Project List-->
                      <div class="accordion-heading" style="background-color:#EFF8FB">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#mainAccordion" href="#{{val.id}}" ng-click="disableEditor()">
                        <div align="center">{{val.title}}</div>
                        </a>
                      </div>
                      <div id="{{val.id}}" class="accordion-body collapse">
                        <div class="accordion-inner" style="font-size:12px; background-color:white">

                          <!-- IMAGE FOR PROJECT -->
                          <img class="project_img" src="{{val.img}}" width="100%" height="100%">

                          <!-- Link for image -->
                          <div ng-show="editorEnabled">
                            <strong>Image Link:</strong><br/>
                            <input type="text" class="span12" ng-model="val.img" ng-show="editorEnabled" ng-change="reload_img_video({{val.id}})">
                          </div>
                          <br/>

                          <!-- VIDEO FOR PROJECT -->
                          <a ng-show="val.video" href="#video_modal" role="button" class="btn span4 offset4" data-toggle="modal" ng-click="launchVideo(key)">watch video</a></br>
                          

                          <!-- link for video -->
                          <div ng-show="editorEnabled">
                            <strong>Video Link:</strong><br/>
                            <input type="text" class="span12" ng-model="val.video" ng-show="editorEnabled">
                          </div>
                          <br/>

                          <strong>Project Objective:</strong><br/> 
                            <div ng-hide="editorEnabled" ng-bind-html-unsafe="val.description">
                            </div>
                            <div ng-show="editorEnabled">

                              <div id="potb_{{val.id}}" style="display: none;">
                                <a data-wysihtml5-command="bold">bold</a> |
                                <a data-wysihtml5-command="italic" title="CTRL+I">italic</a> |
                                <a data-wysihtml5-command="underline">underline</a> |
                                <a data-wysihtml5-command="insertUnorderedList">Unordered List</a>
                              </div>
                              <textarea class="span9 tooltipClient" ng-model="val.description" id="po_{{val.id}}" rows="12" style="resize:vertical;">
                              </textarea>
                              <!-- <input type="text" class="span12" ng-model="val.description" ng-show="editorEnabled"> -->
                            </div>
                          <br/>
                          <strong>Technologies Exposure:</strong><br/>
                            <div ng-hide="editorEnabled">
                              {{val.exposure}}
                            </div>
                            <div ng-show="editorEnabled">
                              <textarea ng-show="editorEnabled" class="span12" ng-model="val.exposure" rows="12" style="resize:vertical"></textarea>
                              <!-- <input type="text" class="span12" ng-model="val.exposure" ng-show="editorEnabled"> -->
                            </div>
                          <br/>
                           <strong>Required Team Size:</strong><br/>
                            <div ng-hide="editorEnabled">
                              {{val.teamsize}}
                            </div>
                            <div ng-show="editorEnabled">
                              <input type="text" ng-show="editorEnabled" class="span12" ng-model="val.teamsize">
                            </div>
                          <br/>
                          <strong>Company:</strong><br/>
                            <div ng-hide="editorEnabled">
                              {{val.company}}
                            </div>
                            <div ng-show="editorEnabled">
                              <input type="text" class="span12" ng-model="val.company" ng-show="editorEnabled" required>
                            </div>
                          <br/>
                          <strong>Contact Person:</strong><br/>
                            <div ng-hide="editorEnabled">
                              {{val.poc}}
                            </div>
                            <div ng-show="editorEnabled">
                              <input type="text" class="span12" ng-model="val.poc" ng-show="editorEnabled" required>
                            </div>
                          <br/>
                          <strong>Contact Email:</strong><br/>
                            <div ng-hide="editorEnabled" ng-repeat="email in val.email">
                              {{email}}
                            </div>
                            <div ng-show="editorEnabled">
                              <input type="text" class="span12" ng-model="val.email" ng-show="editorEnabled" required>
                            </div>
                          <br/>
                          <strong>Contact Number:</strong><br/>
                            <div ng-hide="editorEnabled">
                              {{val.contact}}
                            </div>
                            <div ng-show="editorEnabled">
                              <input type="text" class="span12" ng-model="val.contact" ng-show="editorEnabled">
                            </div>
                          <br/>
                          <br/>
                          <div ng-hide="editorEnabled">
          	             <ul class="inline">
                            <li>
                            <form ng-submit="removeProj(val.id,key)">
                              <button class="btn btn-small" type="submit" ng-hide="editorEnabled">Remove</button>
                            </form>
                            </li>
          	              <li>
                            <form ng-submit="enableEditor(key,val.id)">
                              <button class="btn btn-small" type="submit" ng-hide="editorEnabled">Edit</button>
                            </form>
          	              </li>
          	              <li>
                            <form ng-submit="copyToForm(key)">
                              <button class="btn btn-small" type="submit" ng-hide="editorEnabled">Copy</button>
                            </form>
          	              </li>
          	             </ul>
                          </div>
                          <div ng-show="editorEnabled">
                            <button class="btn btn-small" ng-show="editorEnabled" ng-click="$parent.saveProj(key,val.id)">Save</button>

                            <button class="btn btn-small" ng-show="editorEnabled" ng-click="disableEditor()">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div><!--For Every Project in Project List--> 
                  </div>
                </div>

                <!-- MODAL for watching video -->
                <div id="video_modal" class="modal hide fade" role="dialog" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close_video()">×</button>
                    <h3>Watch Video</h3>
                  </div>
                  <div class="modal-body">
                    <div ng-bind-html-unsafe="watch_video">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="close_video()">Close</button>
                  </div>
                </div>
                <!-- END MODAL for watching video -->

                <div id="pane2" class="tab-pane">
                  <div class="well" style="overflow: auto; height: 880px; background-color:#FBF8EF">
              	     <div style="font-size:120%; font-weight:bold; display:inline">IS480 or FYP </div> 
              	     <div style="display:inline; font-size:85%">(Final Year Project) is a compulsory module that all 3rd and 4th year SMU-SIS (Singapore Management University, School of Information System) students have to complete. Students form a team of 4-6 to experience a semester of part-time project team working with a real-life sponsor. 
						<br><br>
						Through FYP, it provides opportunity for SIS student to:
							<ul>
									<li>Develop an IT system that satisfies a list of functional and quality requirements with a team.</li>
									<li>Experience an iterative software development lifecycle using a methodology such as agile RUP or eXtreme programming.</li>
									<li>Build the additional depth required to become a Business IT professional.</li>
									<li>Manage a real life project</li>
							</ul>
						<br>
						Essentially, the student applies what they learn at SIS to build an IT system in a team project. 
						<br><br>
						Visit the <a href="#">IS480 mainpage</a> for more information.
						<br>
						Click <a href="#">here</a> to view the course design document. 
					</div>
					<br><br>

				<div style="font-size:85%">
			
					<p style="font-size:100%; font-weight:bold">Important Dates</p>
					<table class="table table-bordered table-condensed" cellpadding="0px" style="cellpadding:'0px'; width:50%">
					  <tr class="success">
					    <td colspan="2"><b>Term 1</b></td>
					  </tr>
					  <tr>
					    <td bgcolor="white">Start</td>
					    <td bgcolor="white">20 May 2013</td>
					  </tr>
					  <tr>
					    <td bgcolor="white">Proposal</td>
					    <td bgcolor="white">20 Jun 2013</td>
					  </tr>
					  <tr>
					    <td bgcolor="white">Acceptance</td>
					    <td bgcolor="white">13-16 Aug 2013</td>
					  </tr>
					  <tr>
					    <td bgcolor="white">Registration</td>
					    <td bgcolor="white">21 Aug 2013</td>
					  </tr>
					  <tr>
					    <td bgcolor="white">Midterm</td>
					    <td bgcolor="white">1-4 Oct 2013</td>
					  </tr>
					  <tr>
					    <td bgcolor="white">Poster</td>
					    <td bgcolor="white">12 Nov 2013</td>
					  </tr>
					  <tr>
					    <td bgcolor="white">Final</td>
					    <td bgcolor="white">29 Nov-5 Dec 2013</td>
					  </tr>
					  <tr>
					    <td bgcolor="white">Poster Day</td>
					    <td bgcolor="white">7 Dec 2013</td>
					  </tr>
					</table>
					
			
				</div>

                  </div>
                </div>
               
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
          <!-- </div> -->
        </div>
      </div>      
    </div>
    <footer>
      <p>&copy; Osmosis </p>
    </footer>

    <!-- for richtext -->
    <script src="assets/js/richtext/advanced.js"></script>
    <script src="assets/js/richtext/wysihtml5-0.3.0.min.js"></script>
    
    <script src="assets/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap/bootstrap-typeahead.js"></script>
    <script>


        $(document).ready(function() {
            $('.tooltipClient').tooltipster({
                animation: 'fade',
                theme: '.client-info',
                fixedWidth: 150,
                position: 'left',
                touchDevices: true,
                trigger:'hover',
                offsetY: -20

            });
            
            $('.tooltipClient1').tooltipster({
                animation: 'fade',
                theme: '.client-info',
                fixedWidth: 150,
                position: 'right',
                touchDevices: true,
                trigger:'hover'

            });
        });


    </script>

    <script type="text/javascript">
        $(function () {
            $(".tagsManager").tagsManager({
                // prefilled: ["ios", "php", "android"],
                CapitalizeFirstLetter: false,
                preventSubmitOnEnter: true,
                typeahead: true,
                typeaheadAjaxSource: null,
                typeaheadSource: ["c++", "css", "jquery", "java", "javascript", "angularjs", "ios", "php", "android"],
                delimeters: [9, 44, 188, 13],
                backspace: [8],
                blinkBGColor_1: '#FFFF9C',
                blinkBGColor_2: '#CDE69C',
                hiddenTagListName: 'hiddenTagListA',
                maxTags: '6'
            });
        });
    </script>


    <!--close all accordion-->
    <script type="text/javascript">
      $('.accordion-body').collapse("hide");
    </script>
    <script src="assets/js/docs.js" type="text/javascript"></script>
    <script src="assets/js/demo.js" type="text/javascript"></script>
    <script src="assets/js/google-code-prettify/prettify.js" type="text/javascript"></script>
    <script>
      var editor = new wysihtml5.Editor("projectObjective", { // id of textarea element
        toolbar:      "projectObjectivetb", // id of toolbar element
        parserRules:  wysihtml5ParserRules // defined in parser rules set 
      });
    </script>
    <script>
      $('#loadingscreen').hide();
    </script>
  </body>
</html>
