<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Osmosis Student Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
     page-header {
	     	font-size:100pt;
      }
      
      }

      .btn_right_side {
        float: right;
      }

      #loadingscreen {
        display:    none;
        position:   absolute;
        top:        0;
        right:       0;
        z-index:    999;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 ) 
                    url('http://osmosisgalaxy.github.com/Osmosis/assets/img/loader.gif') 
                    50% 50% 
                    no-repeat;
      }

      .navbar{
        z-index: 998;
      }

      .project_img{
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
      .project_video{
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
     
    </style>
    
    <script type="text/javascript">
    function showInnerHtml(){
        var contents=document.getElementById("formArea");
        alert(contents);
    }
  
    $(function ()  
      { $("#profile_popover").popover({placement:'bottom'});
	  
    }); 
    </script>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/angular-resource.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>
   </head>
   
<body ng-controller="ProjectCtrl" ng-show="isLogin">
  <div id="loadingscreen"></div>
  <script>
    $('#loadingscreen').show();
  </script>
	  	 <!-----------  Start of navigation bar  ------------>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          	<img src="assets/img/OsmosisLogo.png" width=9.5% style=" position:relative;  top: 20px">
	          <div style="position:relative; top: 5px; float:right; color:grey">Welcome, {{display_name}}
	          </div>
	         	<br>
	         <ul class="nav" style="position:relative; left:110px">
	            <li><a href="{{home_link}}"><i class="icon-home"></i> HOME</a></li>
	            <li class="active"><a href="#"><i class="icon-book"></i> PROJECT</a></li>
	         </ul>
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar navbar-inverse navbar-fixed-top -->
    <!--  End of navigation bar  -->
	<br>
	<div class="container-fluid">
    <div class="span8 offset2">
      <div align="center">
        <h3>Projects Available</h3>
      </div>
    </div></br>
    
    <div class="span8 offset2">
      <!-- Below information is shown for students -->
      <div ng-hide="isClient" class="well" style="overflow: auto; height: 80px; background:rgba(240,240,240,0.7); border-style:solid; border-color:#C0C0C0;  position:relative; left:25px">
        This project is in an order from being the <b>MOST SUITABLE</b> for you and your team at the top and the least suitable at the bottom.</br>
        This is calculated based on you and your team members' <b>SKILL</b> and <b>AREA OF INTEREST</b>. Even if you do not have a team, the projects will still be sorted according to your profile.
      </div>
      <!-- END information shown for students -->

      <!-- Search textbox -->
      <!-- <div class="well" style="background:rgba(240,240,240,0.7); border-color:#C0C0C0;  position:relative; left:25px" align="center"> -->
        <span class="accordion" id="filterProjA" style="position:relative;left:25px" align="center">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#filterProjA" href="#filterProj">
                <b>Search Projects</b>
              </a>
            </div>
            <div id="filterProj" class="accordion-body collapse in">
              <div class="accordion-inner">
                <table class="table" align="center" border="0">
                  <tr>
                    <td>Project Name:</br><input type="text" ng-model="nameFilter"></td>
                    <td>Project Description:</br><input type="text" ng-model="descFilter"></td>
                    <td>Technology Exposure:</br><input type="text" ng-model="expoFilter"></td>
                  </tr>
                  <tr>
                    <td>Company:</br><input type="text" ng-model="companyFilter"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </span>
      <!-- </div> -->
      <!-- END Search textbox -->

    </div>
    <div class='span8 offset2' style="position:relative; left:25px">
      <!-- Start of PROJECTS AVAILABLE -->
        <div ng-hide="isClient" ng-repeat="(key,val) in projRank | filter: studentSearchFunction">
          <button class="btn btn-block" ng-click="displayProjModal('std',key)" align="center">{{val[0].title}} [Weightage Points:{{val[1]}}]</button>
        </div>

        <div ng-show="isClient" ng-repeat="(key,val) in forClient | filter: clientSearchFunction">
          <button class="btn btn-block" ng-click="displayProjModal('cpr',key)" align="center">{{val.title}}</button>
        </div>

        <div modal="openProjModal" close="close_project_modal()" options="opts">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close_project_modal()">×</button>
            <h3>{{project_modal_detail.title}}</h3>
          </div>
          <div class="modal-body">
            <!-- IMAGE FOR PROJECT -->
            <strong>Project Image:</strong><br/>
            <img class="project_img" ng-src="{{isBlank && 'assets/img/noimg.gif' || project_modal_detail.img}}" onerror="this.src='assets/img/noimg.gif'">
            
            <br/>
            <!-- Show video -->
            <strong>Project Video:</strong><br/>
            <iframe class="project_video"allowTransparency="true" scrolling="no" ng-src="{{project_modal_detail.video}}" frameborder="0" allowfullscreen onerror="location.href='assets/img/novid.gif'"></iframe>
            
            <br/>
            <!-- Richtext editor for project objective -->
            <strong>Project Objective:</strong><br/> 
              <div ng-hide="editorEnabled" ng-bind-html-unsafe="project_modal_detail.description">
              </div>
             
            <br/>
            <strong>Project Outcome:</strong><br/>
                {{project_modal_detail.outcome}}
              
              <br/>
            <strong>Technologies Exposure:</strong><br/>
                <!-- {{project_modal_detail.exposure}} -->
                <span ng-repeat="te_tag in project_te">
                  <span class="myTag">{{te_tag}}</span>
                </span>
            <br/><br/>
            <strong>Required Skill(s):</strong><br/>
                <!-- {{project_modal_detail.rskill}} -->
                <span ng-repeat="rs_tag in project_rs">
                  <span class="myTag">{{rs_tag}}</span>
                </span>
            <br/>
             <strong>Required Team Size:</strong><br/>
                {{project_modal_detail.teamsize}}
              
            <br/>
            <strong>Company:</strong><br/>
                {{project_modal_detail.company}}
            <br/>
            <strong>Contact Person:</strong><br/>
                {{project_modal_detail.poc}}
              
            <br/>
            <strong>Contact Email:</strong><br/>
              <div ng-repeat="email in project_modal_detail.email">
                {{email}}
              </div>
              
            <br/>
            <strong>Contact Number:</strong><br/>
                {{project_modal_detail.contact}}
              
            <br/>
            
          </div>
          <div class="modal-footer">
            <button type="btn" class="btn" ng-click="close_project_modal()">Close</button>
          </div>
        </div>

	<!-- FOOTER -->
      
      <div class='span12'>
      <footer>
        <p style="font-size:smaller">&copy; 2013 Osmosis &middot;
      </footer>
      </div><!-- /.span12 -->
	  
  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="test/lib/angular/angular-mocks.js"></script>-->
    
    <link href="assets/css/bootstrap-tagmanager.css" rel="stylesheet" type="text/css" />
    <!-- for Angular UI Modal -->
    <script src="assets/js/angular/angular_ui_modal.js"></script>
    <script src="assets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap/bootstrap-typeahead.js"></script>
    <script type="text/javascript">
      $('.accordion-body').collapse("hide");
      $('#createTeam').collapse("show");
    </script>
  </body>
</html>

