<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Osmosis Student Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
     page-header {
	     	font-size:100pt;
      }
      
      }

      .btn_right_side {
        float: right;
      }

      #projAvailable{
        overflow: auto;
      }

      #loadingscreen {
        display:    none;
        position:   absolute;
        top:        0;
        right:       0;
        z-index:    999;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 ) 
                    url('http://osmosisgalaxy.github.com/Osmosis/assets/img/loader.gif') 
                    50% 50% 
                    no-repeat;
      }

      .navbar{
        z-index: 998;
      }

      .project_img{
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
      .project_video{
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
     
    </style>
    
    <script type="text/javascript">
    function showInnerHtml(){
        var contents=document.getElementById("formArea");
        alert(contents);
    }
  
    $(function ()  
      { $("#profile_popover").popover({placement:'bottom'});
	  
    }); 
    </script>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/angular-resource.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>
   </head>
   
<body ng-controller="ProjectCtrl" ng-show="isLogin">
  <div id="loadingscreen"></div>
  <script>
    $('#loadingscreen').show();
  </script>
	  	 <!-----------  Start of navigation bar  ------------>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          	<img src="assets/img/OsmosisLogo.png" width=9.5% style=" position:relative;  top: 20px">
	          <div style="position:relative; top: 5px; float:right; color:grey">Welcome, {{display_name}}
	          </div>
	         	<br>
	         <ul class="nav" style="position:relative; left:110px">
	            <li><a href="{{home_link}}"><i class="icon-home"></i> HOME</a></li>
	            <li class="active"><a href="#"><i class="icon-book"></i> PROJECT</a></li>
	         </ul>
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar navbar-inverse navbar-fixed-top -->
    <!--  End of navigation bar  -->
	<br>
	<div class="container-fluid">
    <div class="span8 offset2">
      <div align="center">
        <h3>Projects Available</h3>
      </div>
    </div></br>
    
    <div class="span8 offset2">
      <!-- Below information is shown for students -->
      <div ng-hide="isClient" class="well" style="overflow: auto; height: 80px; background:rgba(240,240,240,0.7); border-style:solid; border-color:#C0C0C0;  position:relative; left:25px">
        This project is in an order from being the <b>MOST SUITABLE</b> for you and your team at the top and the least suitable at the bottom.</br>
        This is calculated based on you and your team members' <b>SKILL</b> and <b>AREA OF INTEREST</b>. Even if you do not have a team, the projects will still be sorted according to your profile.
      </div>
      <!-- END information shown for students -->

      <!-- Search textbox -->
      <div class="well" style="background:rgba(240,240,240,0.7); border-style:solid; border-color:#C0C0C0;  position:relative; left:25px">
        Filter By:</br>
        <table class="table" align="center" >
          <tr>
            <td>Project Name:</br><input ng-model="nameFilter"></td>
            <td>Project Description:</br><input ng-model="descFilter"></td>
            <td>Technology Exposure:</br><input ng-model="expoFilter"></td>
          </tr>
          <tr>
            <td>Company:</br><input ng-model="companyFilter"></td>
          </tr>
        </table>
      </div>
      <!-- END Search textbox -->

    </div>
    <div class='span8 offset2'>
      <!-- Start of PROJECTS AVAILABLE -->
      <div id='projAvailable'>
				<div class="accordion" id="projAccordion">

          <!-- FOR STUDENTS -->
          <div class="accordion-group" ng-repeat="(key,val) in projRank | filter: studentSearchFunction">
            <div class="accordion-heading" style="background-color:#FAFAFA">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#projAccordion" href="#p_{{val[0].id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'">
              <div align="center">{{val[0].title}} [Weightage Points:{{val[1]}}]</div>
              </a>
            </div>
            <div id="p_{{val[0].id}}" class="accordion-body collapse in">
              <div class="accordion-inner" style="font-size:12px; background-color:white">
                <!-- IMAGE FOR PROJECT -->
                <img class="project_img" src="{{val[0].img}}" width="100%" height="100%"></br></br>
                <!-- VIDEO FOR PROJECT -->
                <a ng-show="val.video" href="#video_modal" role="button" class="btn project_video" data-toggle="modal" ng-click="launchVideo(key)">watch video</a></br></br>
                <div style="color:grey; display:inline">Project Objective: </div><div ng-hide="editorEnabled" ng-bind-html-unsafe="val[0].description"></div></br></br>
                <div style="color:grey; display:inline">Technologies Exposure: </div>{{val[0].exposure}} </br></br>
                <div style="color:grey; display:inline">Company: </div>{{val[0].company}} </br></br>
                <div style="color:grey; display:inline">Contact Person: </div> {{val[0].poc}} </br></br>
                <div style="color:grey; display:inline">Contact Email: </div>  <div ng-repeat="email in val[0].email"><a href="mailto:{{email}}">{{email}}</a> </div> </br></br>
                <div style="color:grey; display:inline">Contact Number: </div> {{val[0].contact}} </br></br>
              </div>
            </div>
          </div><!-- .accordion-group -->
          <!-- FOR STUDENTS end-->

          <!-- FOR CLIENT -->
          <div class="accordion-group" ng-show="isClient" ng-repeat="(key,val) in forClient  | filter: clientSearchFunction">
            <div class="accordion-heading" style="background-color:#FAFAFA">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#projAccordion" href="#p_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'">
              <div align="center">{{val.title}}</div>
              </a>
            </div>
            <div id="p_{{val.id}}" class="accordion-body collapse in">
              <div class="accordion-inner" style="font-size:12px; background-color:white">
                <!-- IMAGE FOR PROJECT -->
                <img class="project_img" src="{{val.img}}" width="100%" height="100%"></br></br>
                <!-- VIDEO FOR PROJECT -->
                <a ng-show="val.video" href="#video_modal" role="button" class="btn project_video" data-toggle="modal" ng-click="launchVideo(key)">watch video</a></br></br>
                <div style="color:grey; display:inline">Project Objective: </div><div ng-hide="editorEnabled" ng-bind-html-unsafe="val.description"></div></br></br>
                <div style="color:grey; display:inline">Technologies Exposure: </div>{{val.exposure}} </br></br>
                <div style="color:grey; display:inline">Company: </div>{{val.company}} </br></br>
                <div style="color:grey; display:inline">Contact Person: </div> {{val.poc}} </br></br>
                <div style="color:grey; display:inline">Contact Email: </div>  <div ng-repeat="email in val.email"><a href="mailto:{{email}}">{{email}}</a> </div> </br></br>
                <div style="color:grey; display:inline">Contact Number: </div> {{val.contact}} </br></br>
              </div>
            </div>
          </div><!-- .accordion-group -->
          <!-- FOR CLIENT end-->
        </div><!-- end of first accordion -->
      </div><!-- End of PROJECTS AVAILABLE -->
    </div>
	</div>

  <!-- MODAL for watching video -->
  <div id="video_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close_video()">×</button>
      <h3>Watch Video</h3>
    </div>
    <div class="modal-body">
      <div ng-bind-html-unsafe="watch_video">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="close_video()">Close</button>
    </div>
  </div>
  <!-- END MODAL for watching video -->

	<!-- FOOTER -->
      
      <div class='span12'>
      <footer>
        <p style="font-size:smaller">&copy; 2013 Osmosis &middot;
      </footer>
      </div><!-- /.span12 -->
	  
  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="test/lib/angular/angular-mocks.js"></script>-->
    

    <script src="assets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap/bootstrap-typeahead.js"></script>
    <script type="text/javascript">
      $('.accordion-body').collapse("hide");
      $('#createTeam').collapse("show");
    </script>
  </body>
</html>

