<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
     page-header {
	     	font-size:100pt;
      }
      
      }

      .btn_right_side {
        float: right;
      }

      #projAccordion{
        overflow: auto;
      }
     
    </style>
    
    <script type="text/javascript">
    function showInnerHtml(){
        var contents=document.getElementById("formArea");
        alert(contents);
    }
  
    $(function ()  
      { $("#profile_popover").popover({placement:'bottom'});
	  
    }); 
    </script>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
   </head>
<body ng-controller="StudentCtrl">
	  	  <!-----------  Start of navigation bar  ------------>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <img src="assets/img/OsmosisLogo.png" width=9.5% style=" position:relative;  top: 10px;">
          <div style="position:relative; top: 5px; float:right; color:grey">Welcome, 
          	<a href="#" id="profile_popover" rel="popover" data-content="Skills:{{skill}} Area of Interest:{{area_of_interest}}" data-original-title="Profile">{{name}}</a> | <a href="index-for-log-out.html" >Logout</a>
          <br>
          <a href="#link" style="float:right">FAQ</a></div>
          <br>
          <br>
         
            <ul class="nav">
              <li class="active"><a href="#link">MY PROJECTS</a></li>
              <li><a href="#link"><i class="icon-book"></i> PROJECT</a></li>
              <li><a href="#link"><i class="icon-book"></i> TEAM</a></li>
              
              
            </ul>
            
            
            </div><!-- /.right -->
            
         </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar navbar-inverse navbar-fixed-top -->
 
    <!-----------  End of navigation bar  ------------>
	  
	  
	<br>
	<br>  
	  
	<div class="container-fluid">
     
     
     
    	<div class='span4'>
	    <!-- Start of PROJECTS AVAILABLE -->   
        <h3>Projects Available</h3>
				<div class="accordion" id="projAccordion">
          <div class="accordion-group" ng-repeat="(key,val) in avail_proj">                     
            <div class="accordion-heading" style="background-color:#FAFAFA">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#projAccordion" href="#{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'">
              {{val.title}}
              </a>
            </div>
            <div id="{{val.id}}" class="accordion-body collapse in">
              <div class="accordion-inner" style="font-size:12px; background-color:white">
                <div style="color:grey; display:inline">Project Objective: </div>{{val.description}} </br>
                <div style="color:grey; display:inline">Technologies Exposure: </div>{{val.exposure}} </br>
                <div style="color:grey; display:inline">Contact Person: </div> {{val.poc}} </br>
                <div style="color:grey; display:inline">Contact Email: </div> {{val.email}} </br>
                <div style="color:grey; display:inline">Contact Number: </div> {{val.contact}} </br>
              </div>
            </div>
          </div><!-- .accordion-group -->
        </div><!-- end of first accordion -->
		  <!-- End of PROJECTS AVAILABLE --> 
      </div>



	 
		<div class="span4">
			<h3>Team</h3>
		      <div class="accordion" id="teamAccordion"><!-- Start of TEAM -->
      			<!-- Start of my team accordion -->
            <div class="accordion-group">                     
              <div class="accordion-heading" style="background-color:#FAFAFA">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#teamAccordion" href="#collapse1" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'">
                  My Team
                </a>
              </div>
              <div id="createTeam" class="accordion-body collapse in">
                <div class="accordion-inner" style="font-size:12px; background-color:white">
                  <div ng-hide="noTeam">
                    Hi! You do not have a team currently.<br>
                    Click on the button below to create one! <br><br>
                    <form ng-submit=""><!-- create team-->
                      Team Name : <input type="text" ng-model="teamName"> 
                      <button type="submit" class="btn btn-small">Create Team</button>
                    </form>
                  </div>
                  <div ng-show="noTeam">
                    {{}}<!-- team name -->
                    Team Members:</br>
                    <div ng-repeat=""><!-- team member -->
                      {{}}<!-- member name-->
    				          <form ng-submit=""><!-- remove team member-->
                        <button class="btn_right_side" type="submit" class="btn btn-mini">Remove</button>
                      </form>
                    </div>
                    <hr>
                    Pending Invitation:</br>
                    <div ng-repeat=""><!-- pending list -->
                      {{}}<!-- pending name-->
                      <form ng-submit=""><!-- remove pending-->
                        <button class="btn_right_side" type="submit" class="btn btn-mini">Cancel Invite</button>
                      </form>
                    </div>
                    <hr>
                    Interested Students:</br>
                    <div ng-repeat=""><!-- interested list -->
                      {{}}<!-- interested name-->
                      <form ng-submit=""><!-- reject interested-->
                        <button class="btn_right_side" type="submit" class="btn btn-mini">Reject</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of my team accordion -->
            <!-- Start of recruit team accordion -->
            <div class="accordion-group">                     
              <div class="accordion-heading" style="background-color:#FAFAFA">
	              <a class="accordion-toggle" data-toggle="collapse" data-parent="#teamAccordion" href="#collapse2" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'">
                  Teams Recruiting
                </a>
              </div>
              <div id="teamRecruit" class="accordion-body collapse in">
                <div class="accordion-inner" style="font-size:12px; background-color:white">
                  <!-- Start of inner recruit teams accordion -->
                  <div class="accordion" id="recruitTeamAccordion">
                    <div class="accordion-group" ng-repeat=""><!-- repeat number of teams recruiting -->
                      <div class="accordion-heading" style="background-color:#FAFAFA">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#recruitTeamAccordion" href="#{{}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                          {{}}<!-- team name -->
                        </a>
                      </div>
                      <div id="{{}}" class="accordion-body collapse in"><!-- team id -->
                        <div class="accordion-inner" style="font-size:12px; background-color:white">
                          <div style="color:grey; display:inline">Team members: </div> {{team_members}} <br>
                          <div style="color:grey; display:inline">Area of interest: </div> {{area_of_interest}} <br>
                          <div style="color:grey; display:inline">FYP term: </div> {{fyp_term}} <br>
                          <div align="right">
                            <form ng-submit="" ng-hide="noTeam"><!-- i want to join -->
                              <button type="submit" class="btn btn-mini">I would like to join!</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- end of inner recruit teams accordion -->		  							
					       </div>
					     </div>
              </div><!-- end of recruit team accordion -->
            </div><!-- End of TEAM -->
          </div><!-- .span4 -->






  <div class="span4">
    <!-- Start of STUDENTS WITHOUT TEAM -->
    <h3>Students Without Team</h3>
	 	<div class="accordion" id="studentNoTeamAccordion" >
      <div class="accordion-group" ng-repeat=""><!-- academic years   -->          
	      <div class="accordion-heading" style="background-color:#FAFAFA">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#studentNoTeamAccordion" href="#{{}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- the year -->
            Academic Year {{}}<!-- the year -->
          </a>
        </div>
        <div id="{{}}" class="accordion-body collapse in" ><!-- the year -->
          <div class="accordion-inner" style="font-size:12px; background-color:white">
            <div ng-repeat=""><!-- students of current academic yr without team -->
              {{}}<!-- student name -->
              <form ng-submit=""><!-- invite student to team -->
                <button class="btn_right_side" type="submit" class="btn btn-mini">Invite</button>
              </form>
            </div>      
                    <!-- <table width="400px">
                    <tr>
                    <td style="padding-bottom:7px" onmouseover="document.getElementById('studentinfo').style.visibility = 'visible'"; onmouseout="document.getElementById('studentinfo').style.visibility = 'hidden'";>
	                    {{name1}}<div style="display:inline" id="studentinfo">Students info here!</div>
	                    
                    </td>
                    <td><button type="submit" class="btn btn-mini" onclick="this.disabled=true">invite to team</button></td>
                    </tr>
                    <tr>
                    <td style="padding-bottom:7px">{{name2}}</td>
                    <td><button type="submit" class="btn btn-mini" onclick="this.disabled=true">invite to team</button></td>
                    </tr>
                    <tr>
                    <td style="padding-bottom:7px">{{name3}}</td>
                    <td><button type="submit" class="btn btn-mini" onclick="this.disabled=true">invite to team</button></td>
                    </tr>
                    <tr>
                    <td style="padding-bottom:7px">{{name4}}</td>
                    <td><button type="submit" class="btn btn-mini" onclick="this.disabled=true">invite to team</button></td>
                    </tr>
                    <tr>
                    <td style="padding-bottom:7px">{{name5}}</td>
                    <td><button type="submit" class="btn btn-mini" onclick="this.disabled=true">invite to team</button></td>
                    </tr>
                    </table> -->
          </div>
				</div>
      </div><!-- .accordion-group -->
		</div>
		<!-- End of STUDENTS WITHOUT TEAM -->
	</div>
	
</div><!-- .container-fluid -->


      






	<!-- FOOTER -->
      
      <div class='span12'>
      <footer>
        <p style="font-size:smaller">&copy; 2013 Osmosis &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
      </div><!-- /.span12 -->
	  
  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="test/lib/angular/angular-mocks.js"></script>-->
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/angular-resource.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="assets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap/bootstrap-typeahead.js"></script>
    <script type="text/javascript">
      $('.accordion-body').collapse("hide");
      $('#createTeam').collapse("show");
    </script>
  </body>
</html>
