<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
     page-header {
	     	font-size:100pt;
      }
      
      }

      .btn_right_side {
        float: right;
      }

      #projAvailable{
        height: 500px;
        overflow: auto;
      }

      #loadingscreen {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 ) 
                    url('http://osmosisgalaxy.github.com/Osmosis/assets/img/loader.gif') 
                    50% 50% 
                    no-repeat;
      }
     
    </style>
    
    <script type="text/javascript">
    function showInnerHtml(){
        var contents=document.getElementById("formArea");
        alert(contents);
    }
  
    $(function ()  
      { $("#profile_popover").popover({placement:'bottom'});
	  
    }); 
    </script>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
   </head>
   
<body ng-controller="StudentCtrl" ng-show="isLogin">
  <div id="loadingscreen"></div>
  <script>
    $('#loadingscreen').show();
  </script>
	  	  <!-----------  Start of navigation bar  ------------>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <img src="assets/img/OsmosisLogo.png" width=9.5% style=" position:relative;  top: 10px;">
          <div style="position:relative; top: 5px; float:right; color:grey">Welcome, 
          	<!-- <a href="#" id="profile_popover" rel="popover" data-content="Skills:{{skill}} Area of Interest:{{area_of_interest}}" data-original-title="Profile"> -->
            {{stud_info.email}}
          <!-- </a> | 
            <a href="index-for-log-out.html" >Logout</a> -->
          <br>
          <a href="#link" style="float:right">FAQ</a></div>
          <br>
          <br>
         
            <ul class="nav">
              <li class="active"><a href="#link">MY PROJECTS</a></li>
              <li><a href="#link"><i class="icon-book"></i> PROJECT</a></li>
              <li><a href="#link"><i class="icon-book"></i> TEAM</a></li>
              
              
            </ul>
            
            
            </div><!-- /.right -->
            
         </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar navbar-inverse navbar-fixed-top -->
 
    <!-----------  End of navigation bar  ------------>
    
    
    
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Team</h3>
  </div>
  <div class="modal-body">
             <div class="control-group">  
                  
                  <label class="control-label" for="projectName">Team Name*</label>  
                  <div class="controls">  
                    <input type="text" class="input-xlarge" id="projectName" ng-model="projectName" required>
                  </div>

             </div>    
    
                <div class="control-group">  
                  <label class="control-label" for="technicalRequirements">Area of technology exposed*</label>  
                  <div class="controls">  
                    <textarea class="input-xlarge" ng-model="technologiesExposure" id="technologiesExposure" rows="3"></textarea>  
                  </div>  
                </div>    
    
             <div class="control-group">  
                  
                  <label class="control-label" for="projectName">Sourcing for*</label>  
                  <div class="controls">  
                    <input type="text" class="input-xlarge" id="sourcingFor" ng-model="sourcingFor" required>
                  </div>

             </div> 
             
             <div class="control-group">  
                  
                  <label class="control-label" for="projectName">Wiki page*</label>  
                  <div class="controls">  
                    <input type="text" class="input-xlarge" id="wikiPage" ng-model="wikiPage" required>
                  </div>

             </div>                  
    
    
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>     
<!-- End Modal -->	  
	  
	<br>
	<br>  
	  
	<div class="container-fluid">
     
     
     
    	<div class='span4'>
	    <!-- Start of PROJECTS AVAILABLE -->   
        <h3>Projects Available</h3>
        <div id='projAvailable'>
  				<div class="accordion" id="projAccordion">
            <div class="accordion-group" ng-repeat="(key,val) in avail_proj">                     
              <div class="accordion-heading" style="background-color:#FAFAFA">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#projAccordion" href="#p_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'">
                {{val.title}}
                </a>
              </div>
              <div id="p_{{val.id}}" class="accordion-body collapse in">
                <div class="accordion-inner" style="font-size:12px; background-color:white">
                  <div style="color:grey; display:inline">Project Objective: </div>{{val.description}} </br>
                  <div style="color:grey; display:inline">Technologies Exposure: </div>{{val.exposure}} </br>
                  <div style="color:grey; display:inline">Contact Person: </div> {{val.poc}} </br>
                  <div style="color:grey; display:inline">Contact Email: </div> {{val.email}} </br>
                  <div style="color:grey; display:inline">Contact Number: </div> {{val.contact}} </br>
                </div>
              </div>
            </div><!-- .accordion-group -->
          </div><!-- end of first accordion -->
        </div>
		  <!-- End of PROJECTS AVAILABLE --> 
      </div>



	 
		<div class="span4">
			<h3>Team</h3>
		      <div class="accordion" id="teamAccordion"><!-- Start of TEAM -->
      			<!-- Start of my team accordion -->
            <div class="accordion-group">                     
              <div class="accordion-heading" style="background-color:#FAFAFA">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#teamAccordion" href="#collapse1" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'">
                  My Team
                </a>
              </div>
              <div id="collapse1" class="accordion-body collapse in">
                <div class="accordion-inner" style="font-size:12px; background-color:white">
                  <div ng-hide="gotTeam"><!-- start of no team accordion -->
                    You do not have a team currently.<br><br>
                    <form ng-submit="createTeam()"><!-- create team-->
                      Team Name : <input type="text" ng-model="teamName">
                      <!-- <i class="icon-hand-right"></i>&nbsp<a href="#myModal" role="button" class="btn btn-mini" data-toggle="modal"> Create Team</a> -->
                      <button type="submit" class="btn btn-small">Create Team</button>
                    </form>
                    <hr>
                    Invitations from Teams:
                    <!-- Start of INVITATION accordion -->
                    <div class="accordion" id="teamInvitationAccordion">
                      <div class="accordion-group" ng-repeat="(key,val) in stud_team.invitation"><!-- repeat number of teams recruiting -->
                        <div class="accordion-heading" style="background-color:#FAFAFA">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#teamInvitationAccordion" href="#si_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                            {{val.name}}
                          </a>
                        </div>
                        <div id="si_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
                          <div style="color:grey; display:inline">Team members: </div><br>
                          <!-- Start of INVITATION TEAM MEMBER accordion -->
                          <div class="accordion" id="invitationMemberDetailAccordion">
                            <div class="accordion-group" ng-repeat="(key,val) in val.member"><!-- repeat number of teams recruiting -->
                              <div class="accordion-heading" style="background-color:#FAFAFA">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#invitationMemberDetailAccordion" href="#sim_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                                  {{val.full_name}}
                                </a>
                              </div>
                              <div id="sim_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
                                <div class="accordion-inner" style="font-size:12px; background-color:white">
                                  <div style="color:grey; display:inline">Email: </div> {{val.email}} <br>
                                  <div style="color:grey; display:inline">Year of Admission: </div> {{val.yoa}} <br>
                                  <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                                  <div style="color:grey; display:inline">Areas of Interest: </div> {{val.aoi}} <br>
                                  <div style="color:grey; display:inline">FYP Term: </div> {{val.fyp}} <br>
                                  <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                                </div>
                              </div>
                            </div>
                          </div><!-- end of INVITATION TEAM MEMBER accordion -->

                          <div style="color:grey; display:inline">Area of interest: </div> {{val.aoi}} <br>
                          <div style="color:grey; display:inline">FYP term: </div> {{val.fyp}} <br>
                          <div align="right">
                            <form ng-submit="acceptInvitation('{{val.id}}')">
                              <button type="submit" class="btn btn-mini">Accept</button>
                            </form><br>
                            <form ng-submit="rejectInvitation('{{val.id}}')">
                              <button type="submit" class="btn btn-mini">Reject</button>
                              <input type="text" id="sim_{{val.id}}_rejectMessage" placeholder="Message to Team">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div><!-- end of INVITATION accordion -->

                    <hr>
                    Requests to Teams:
                    <!-- Start of REQUEST accordion -->
                    <div class="accordion" id="teamRequestAccordion">
                      <div class="accordion-group" ng-repeat="(key,val) in stud_team.request"><!-- repeat number of teams recruiting -->
                        <div class="accordion-heading" style="background-color:#FAFAFA">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#teamRequestAccordion" href="#sr_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                            {{val.name}}
                          </a>
                        </div>
                        <div id="sr_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
                          <div style="color:grey; display:inline">Team members: </div><br>
                          <!-- Start of REQUEST TEAM MEMBER accordion -->
                          <div class="accordion" id="requestMemberDetailAccordion">
                            <div class="accordion-group" ng-repeat="(key,val) in val.member"><!-- repeat number of teams recruiting -->
                              <div class="accordion-heading" style="background-color:#FAFAFA">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#requestMemberDetailAccordion" href="#srm_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                                  {{val.full_name}}
                                </a>
                              </div>
                              <div id="srm_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
                                <div class="accordion-inner" style="font-size:12px; background-color:white">
                                  <div style="color:grey; display:inline">Email: </div> {{val.email}} <br>
                                  <div style="color:grey; display:inline">Year of Admission: </div> {{val.yoa}} <br>
                                  <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                                  <div style="color:grey; display:inline">Areas of Interest: </div> {{val.aoi}} <br>
                                  <div style="color:grey; display:inline">FYP Term: </div> {{val.fyp}} <br>
                                  <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                                </div>
                              </div>
                            </div>
                          </div><!-- end of REQUEST TEAM MEMBER accordion -->

                          <div style="color:grey; display:inline">Area of interest: </div> {{val.aoi}} <br>
                          <div style="color:grey; display:inline">FYP term: </div> {{val.fyp}} <br>
                          <div align="right">
                            <form ng-submit="cancelRequest('{{val.id}}')">
                              <button type="submit" class="btn btn-mini">Cancel</button>
                              <input type="text" id="srm_{{val.id}}_cancelMessage" placeholder="Message to Team">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div><!-- end of REQUEST accordion -->
                  </div><!-- end of no team accordion -->







                  <div ng-show="gotTeam">
                    <strong>Team Name:</strong><br/>
                      <div ng-hide="editorEnabled">
                        {{stud_team.name}}
                      </div>
                      <div ng-show="editorEnabled">
                        <input type="text" class="input-xlarge" ng-model="stud_team.name" ng-show="editorEnabled" required>
                      </div>
                    <br/>
                    <strong>Area of Interest:</strong><br/>
                      <div ng-hide="editorEnabled">
                        {{stud_team.aoi}}
                      </div>
                      <div ng-show="editorEnabled">
                        <input type="text" class="input-xlarge" ng-model="stud_team.aoi" ng-show="editorEnabled">
                      </div>
                    <br/>
                    <strong>FYP Year:</strong><br/>
                      <div ng-hide="editorEnabled">
                        {{stud_team.fyp}}
                      </div>
                      <div ng-show="editorEnabled">
                        <input type="text" class="input-xlarge" ng-model="stud_team.fyp" ng-show="editorEnabled" required>
                      </div>
                    <br/>
                    <strong>Recruiting:</strong><br/>
                      <div ng-hide="editorEnabled">
                        {{stud_team.searching}}
                      </div>
                      <div ng-show="editorEnabled">
                        <input type="radio" ng-model="stud_team.searching" ng-show="editorEnabled" value="yes">Yes
                        <input type="radio" ng-model="stud_team.searching" ng-show="editorEnabled" value="no">No
                      </div>
                    <br/>
                    <div ng-hide="editorEnabled">
                      <div ng-show="isLeader">
                        <form ng-submit="enableEditor()">
                          <button class="btn_left_side" type="submit" ng-hide="editorEnabled">Edit</button>
                        </form>
                      </div>
                    </div>
                    <div ng-show="isLeader">
                      <form ng-submit="deleteTeam()">
                        <button class="btn_left_side" type="submit" ng-hide="editorEnabled">Delete Team</button>
                      </form>
                    </div>
                    <div ng-hide="isLeader">
                      <form ng-submit="leaveTeam()">
                        <button class="btn_left_side" type="submit" ng-hide="editorEnabled">Leave Team</button>
                      </form>
                    </div>
                    <div ng-show="editorEnabled">
                      <form ng-submit="saveTeamInfo()">
                        <button class="btn_left_side" type="submit" ng-show="editorEnabled">Save</button>
                      </form>
                      <form ng-submit="disableEditor()">
                        <button class="btn_left_side" type="submit" ng-show="editorEnabled">Cancel</button>
                      </form>
                    </div>
                    Team Members:</br>

                    <!-- Start of team member detail accordion -->
                    <div class="accordion" id="memberDetailAccordion">
                      <div class="accordion-group" ng-repeat="(key,val) in stud_team.member"><!-- repeat number of teams recruiting -->
                        <div class="accordion-heading" style="background-color:#FAFAFA">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#memberDetailAccordion" href="#m_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                            {{val.full_name}}
                          </a>
                        </div>
                        <div id="m_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
                          <div class="accordion-inner" style="font-size:12px; background-color:white">
                            <div style="color:grey; display:inline">Email: </div> {{val.email}} <br>
                            <div style="color:grey; display:inline">Year of Admission: </div> {{val.yoa}} <br>
                            <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                            <div style="color:grey; display:inline">Areas of Interest: </div> {{val.aoi}} <br>
                            <div style="color:grey; display:inline">FYP Term: </div> {{val.fyp}} <br>
                            <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                            <div align="right" ng-show="isLeader">
                              <form ng-submit="expelMember('{{val.id}}')"><!-- remove team member-->
                                <button type="submit" class="btn btn-mini">Expel</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- end of team member detail accordion -->

                    <hr>
                    Pending Invitation:</br>

                    <!-- Start of pending accordion -->
                    <div class="accordion" id="pendingAccordion">
                      <div class="accordion-group" ng-repeat="(key,val) in stud_team.recruiting"><!--repeat number of team recruiting-->
                        <div class="accordion-heading" style="background-color:#FAFAFA">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#pendingAccordion" href="#p_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                            {{val.full_name}}
                          </a>
                        </div>
                        <div id="p_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
                          <div class="accordion-inner" style="font-size:12px; background-color:white">
                            <div style="color:grey; display:inline">Email: </div> {{val.email}} <br>
                            <div style="color:grey; display:inline">Year of Admission: </div> {{val.yoa}} <br>
                            <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                            <div style="color:grey; display:inline">Areas of Interest: </div> {{val.aoi}} <br>
                            <div style="color:grey; display:inline">FYP Term: </div> {{val.fyp}} <br>
                            <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                            <div align="right" ng-show="isLeader">
                              <form ng-submit="cancelInvitation('{{val.id}}')">
                                <input type="text" id="p_{{val.id}}_cancelInvitation" placeholder="Reason for Cancel">
                                <button type="submit" class="btn btn-mini">Cancel Invitation</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- end of pending accordion -->

                    <hr>
                    Interested Students:</br>

                    <!-- Start of interested accordion -->
                    <div class="accordion" id="interestedAccordion">
                      <div class="accordion-group" ng-repeat="(key,val) in stud_team.pending"><!-- repeat number of teams recruiting -->
                        <div class="accordion-heading" style="background-color:#FAFAFA">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#interestedAccordion" href="#i_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                            {{val.full_name}}
                          </a>
                        </div>
                        <div id="i_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
                          <div class="accordion-inner" style="font-size:12px; background-color:white">
                            <div style="color:grey; display:inline">Email: </div> {{val.email}} <br>
                            <div style="color:grey; display:inline">Year of Admission: </div> {{val.yoa}} <br>
                            <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                            <div style="color:grey; display:inline">Areas of Interest: </div> {{val.aoi}} <br>
                            <div style="color:grey; display:inline">FYP Term: </div> {{val.fyp}} <br>
                            <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                            <div align="right" ng-show="isLeader">
                              <form ng-submit="rejectRequest('{{val.id}}')">
                                <input type="text" id="p_{{val.id}}_rejectRequest" placeholder="Reason for Reject">
                                <button type="submit" class="btn btn-mini">Reject</button>
                              </form>
                            </div><br>
                            <div align="right">
                              <form ng-submit="acceptRequest('{{val.id}}')">
                                <button type="submit" class="btn btn-mini">Accept</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- end of interested accordion -->
                  </div>
                </div>
              </div>
            </div>
            <!-- end of my team accordion -->
            <!-- Start of recruit team accordion -->
            <div class="accordion-group">                     
              <div class="accordion-heading" style="background-color:#FAFAFA">
	              <a class="accordion-toggle" data-toggle="collapse" data-parent="#teamAccordion" href="#collapse2" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'">
                  Teams Recruiting
                </a>
              </div>
              <div id="collapse2" class="accordion-body collapse in">
                <div class="accordion-inner" style="font-size:12px; background-color:white">
                  <!-- Start of inner recruit teams accordion -->
                  <div class="accordion" id="recruitTeamAccordion">
                    <div class="accordion-group" ng-repeat="(key,val) in team_recruit"><!-- repeat number of teams recruiting -->
                      <div class="accordion-heading" style="background-color:#FAFAFA">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#recruitTeamAccordion" href="#t_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                          {{val.name}}<!-- team name -->
                        </a>
                      </div>
                      <div id="t_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
                        <div class="accordion-inner" style="font-size:12px; background-color:white">
                          <div style="color:grey; display:inline">Team members: </div><br>

                          <!-- Start of team member detail accordion -->
                          <div class="accordion" id="memberDetailAccordion">
                            <div class="accordion-group" ng-repeat="(key,val) in val.member"><!-- repeat number of teams recruiting -->
                              <div class="accordion-heading" style="background-color:#FAFAFA">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#memberDetailAccordion" href="#tm_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                                  {{val.full_name}}
                                </a>
                              </div>
                              <div id="tm_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
                                <div class="accordion-inner" style="font-size:12px; background-color:white">
                                  <div style="color:grey; display:inline">Email: </div> {{val.email}} <br>
                                  <div style="color:grey; display:inline">Year of Admission: </div> {{val.yoa}} <br>
                                  <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                                  <div style="color:grey; display:inline">Areas of Interest: </div> {{val.aoi}} <br>
                                  <div style="color:grey; display:inline">FYP Term: </div> {{val.fyp}} <br>
                                  <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                                </div>
                              </div>
                            </div>
                          </div><!-- end of team member detail accordion -->

                          <div style="color:grey; display:inline">Area of interest: </div> {{val.aoi}} <br>
                          <div style="color:grey; display:inline">FYP term: </div> {{val.fyp}} <br>
                          <div align="right">
                            <form ng-submit="requestJoinTeam('{{val.id}}')" ng-show="{{val.show_button}} == true"><!-- i want to join -->
                              <button type="submit" class="btn btn-mini">Request to Join</button>
                              <input type="text" id="t_{{val.id}}_requestMessage" placeholder="Message to Team">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- end of inner recruit teams accordion -->		  							
					       </div>
					     </div>
              </div><!-- end of recruit team accordion -->
            </div><!-- End of TEAM -->
          </div><!-- .span4 -->

  <div class="span4">
    <!-- Start of STUDENTS WITHOUT TEAM -->
    <h3>Students Without Team</h3>
	 	<div class="accordion" id="studentNoTeamAccordion" >
      <div class="accordion-group" ng-repeat="(key,val) in stud_finding"><!-- academic years   -->          
	      <div class="accordion-heading" style="background-color:#FAFAFA">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#studentNoTeamAccordion" href="#{{val.year}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- the year -->
            Academic Year {{val.year}}<!-- the year -->
          </a>
        </div>
        <div id="{{val.year}}" class="accordion-body collapse in" ><!-- the year -->
          <div class="accordion-inner" style="font-size:12px; background-color:white">
            <!-- Start of inner student detail accordion -->
              <div class="accordion" id="studentDetailAccordion">
                <div class="accordion-group" ng-repeat="(key,val) in val.students">
                  <div class="accordion-heading" style="background-color:#FAFAFA">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#studentDetailAccordion" href="#s_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                      {{val.full_name}}
                    </a>
                  </div>
                  <div id="s_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
                    <div class="accordion-inner" style="font-size:12px; background-color:white">
                      <div style="color:grey; display:inline">Email: </div> {{val.email}} <br>
                      <div style="color:grey; display:inline">Year of Admission: </div> {{val.yoa}} <br>
                      <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                      <div style="color:grey; display:inline">Areas of Interest: </div> {{val.aoi}} <br>
                      <div style="color:grey; display:inline">FYP Term: </div> {{val.fyp}} <br>
                      <div style="color:grey; display:inline">Skill: </div> {{val.skill}} <br>
                      <div align="right">
                        <form ng-submit="inviteStudent('{{val.id}}')" ng-show="gotTeam"><!-- i want to join -->
                          <button type="submit" class="btn btn-mini">Invite!</button>
                          <input type="text" id="s_{{val.id}}_inviteMessage" placeholder="Message to Student">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- end of inner student detail accordion -->
    
                    <!-- <table width="400px">
                    <tr>
                    <td style="padding-bottom:7px" onmouseover="document.getElementById('studentinfo').style.visibility = 'visible'"; onmouseout="document.getElementById('studentinfo').style.visibility = 'hidden'";>
	                    {{name1}}<div style="display:inline" id="studentinfo">Students info here!</div>
	                    
                    </td>
                    <td><button type="submit" class="btn btn-mini" onclick="this.disabled=true">invite to team</button></td>
                    </tr>
                    <tr>
                    <td style="padding-bottom:7px">{{name2}}</td>
                    <td><button type="submit" class="btn btn-mini" onclick="this.disabled=true">invite to team</button></td>
                    </tr>
                    <tr>
                    <td style="padding-bottom:7px">{{name3}}</td>
                    <td><button type="submit" class="btn btn-mini" onclick="this.disabled=true">invite to team</button></td>
                    </tr>
                    <tr>
                    <td style="padding-bottom:7px">{{name4}}</td>
                    <td><button type="submit" class="btn btn-mini" onclick="this.disabled=true">invite to team</button></td>
                    </tr>
                    <tr>
                    <td style="padding-bottom:7px">{{name5}}</td>
                    <td><button type="submit" class="btn btn-mini" onclick="this.disabled=true">invite to team</button></td>
                    </tr>
                    </table> -->
          </div>
				</div>
      </div><!-- .accordion-group -->
		</div>
		<!-- End of STUDENTS WITHOUT TEAM -->
	</div>
	
</div><!-- .container-fluid -->


      






	<!-- FOOTER -->
      
      <div class='span12'>
      <footer>
        <p style="font-size:smaller">&copy; 2013 Osmosis &middot; <a href="#">Privacy</a> &middot; <a href="http://smusg.asia.qualtrics.com/SE/?SID=SV_4ON5xzcvPnxxORf">Post UAT Survey</a></p>
      </footer>
      </div><!-- /.span12 -->
	  
  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="test/lib/angular/angular-mocks.js"></script>-->
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/angular-resource.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="assets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap/bootstrap-typeahead.js"></script>
    <script type="text/javascript">
      $('.accordion-body').collapse("hide");
      $('#createTeam').collapse("show");
    </script>
  </body>
</html>
