<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Osmosis Team Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/angular-resource.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>
    <script src="assets/js/bootstrap/bootstrap.js"></script>
    <script src="assets/js/angular/angular_ui_modal.js"></script>
    <script src="assets/js/angular-ui.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-0.2.0.min.js"></script>
    
        <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-image: url(assets/img/greyWoodBackground.jpg);
      }
      
     page-header {
	     	font-size:100pt;
      }


      .btn_right_side {
        float: right;
      }

      #projAvailable{
        height: 500px;
        overflow: auto;
      }

      #loadingscreen {
        display:    none;
        position:   absolute;
        top:        0;
        right:       0;
        z-index:    999;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 ) 
                    url('http://osmosisgalaxy.github.com/Osmosis/assets/img/loader.gif') 
                    50% 50% 
                    no-repeat;
      }

      .navbar{
        z-index: 998;
      }
     
    </style>

    <script type="text/javascript">
    function showInnerHtml(){
        var contents=document.getElementById("formArea");
        alert(contents);
    }
  
    $(function ()  
      { $("#profile_popover").popover({placement:'bottom'});
	  
    }); 
    </script>

   </head>
   
<body ng-controller="StudentCtrl" ng-show="isLogin">

  <!-- modal for editing student profile -->

  <!-- name textinput, year of admission AUTO, email auto textinput, skill (tags),area of interest (tags), intended fyp year (dropdownlist) -->
    <div modal="studOpen" close="close()" options="opts">
        <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
            <h4>Edit my profile</h4>
        </div>
        <div class="modal-body">
	        	<form class="form-horizontal" id="createForm"> 
	        	
	        	 <div class="control-group">  
                  <label class="control-label" for="studentName" style="font-weight:bold">Name</label>
                  <div class="controls">
                    <input type="text" class="span3" id="studentName" ng-model="stud_info.full_name" style="font-size:85%">
                    <br>
                    <span class="help-block" style="font-size:70%" >What is your full name as registered with the school? e.g. Poh Yang Zhou </span>
                  </div>
                </div>
	        	
	        	 <div class="control-group">  
                  <label class="control-label" for="yearOfAdmission" style="font-weight:bold">Year of Admission</label>
                  <div class="controls">
                    <input type="text" class="span1" id="yearOfAdmission" ng-model="stud_info.yoa" style="font-size:85%">
                  </div>
                </div>
	        	
	        	
	        	<div class="control-group">  
                  <label class="control-label" for="email" style="font-weight:bold">Email</label>
                  <div class="controls">
                    <input type="text" class="span3" id="email" ng-model="stud_info.email" style="font-size:85%">
                  </div>
                </div>
  
	        	<div class="control-group">  
                  <label class="control-label" for="skills" style="font-weight:bold">Skills</label>
                  <div class="controls">
                    <input type="text" class="span3" id="skills" ng-model="stud_info.skill" style="font-size:85%">
                    <br>
                    <span class="help-block" style="font-size:70%" >What are your skills? e.g. java, c#, HTML </span>                    
                  </div>
                </div>                

	        	<div class="control-group">  
                  <label class="control-label" for="areaOfInterest" style="font-weight:bold">Area of Interests</label>
                  <div class="controls">
                    <input type="text" class="span3" id="areaOfInterest" ng-model="stud_info.aoi" style="font-size:85%">
                    <br>
                    <span class="help-block" style="font-size:70%" >What are you interested in developing for FYP? Do you like mobile applications or web applications etc? e.g. ios, android </span>                     
                  </div>
                </div> 

	        	<div class="control-group">  
                  <label class="control-label" for="IntendedFypYear" style="font-weight:bold">Intended FYP Semester</label>
                  <div class="controls">
                    <select ui-select2 ng-model="stud_info.fyp" style="font-size:85%">
						<option value="">Pick a sem</option>
						<option value="Y3S1">Y3S1</option>
						<option value="Y3S2">Y3S2</option>
						<option value="Y4S1">Y4S1</option>
						<option value="Y4S2">Y4S2</option>
					</select>
                    <br>
                    <span class="help-block" style="font-size:70%" >Which semester do you want to do FYP in? </span> 					
                  </div>
                </div> 	        
                
               
	
	        	
	        	</form>

        </div>
        <div class="modal-footer">
        	<button class="btn btn-small" ng-click="saveStudInfo()">Save</button>
            <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
        </div>
    </div>
 <!-- end modal for editing student profile -->

    <!-- MODAL for Client Profile Editing -->
    <div modal="clientOpen" close="close()" options="opts">
      <div class="modal-header">
          <h4>Edit my profile</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="createForm"> 
        
          <div class="control-group">  
            <label class="control-label" for="clientName" style="font-weight:bold">Name</label>
            <div class="controls">
              <input type="text" class="span3" id="clientName" ng-model="user_profile.full_name" style="font-size:85%">
              <br>
              <span class="help-block" style="font-size:70%" >What is your company name to be shown to students? e.g. SamPearl Co. </span>
            </div>
          </div>
        
          <div class="control-group">  
            <label class="control-label" for="website" style="font-weight:bold">Website</label>
            <div class="controls">
              <input type="text" class="span3" id="website" ng-model="user_profile.website" style="font-size:85%">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-small" ng-click="saveClientInfo()">Save</button>
          <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
      </div>
    </div>
    <!-- END MODAL for Client Profile Editing -->



	  	  <!-----------  Start of navigation bar  ------------>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          	<img src="assets/img/OsmosisLogo.png" width=9.5% style=" position:relative;  top: 20px">
	          <div style="position:relative; top: 5px; float:right; color:grey">Welcome,
	            {{display_name}}
	          </a> | 
	            <a href="#" ng-click="open()" >Edit Profile</a>
	            <br>
	          </div>
	         	<br>
	         <ul class="nav" style="position:relative; left:110px">
	            <li class="active"><a href="{{home_link}}"><i class="icon-home"></i> HOME</a></li>
	            <li><a href="project-page.html"><i class="icon-book"></i> PROJECT</a></li>
	            <!-- <li><a href="#link"><i class="icon-book"></i> TEAM</a></li> -->
	         </ul>
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div><!-- /.navbar navbar-inverse navbar-fixed-top -->
    <!-----------  End of navigation bar  ------------>
             

	<br>  
	 
	  <div class="container-fluid">
  	<div class='span8 offset2'>
	    <!-- Start of Teams recruiting -->   
      <h3>Teams Recruiting</h3>
        <div class="well" style="background:rgba(240,240,240,0.7); border-style:solid; border-color:#C0C0C0;  position:relative;" align="center">
          <span class="accordion" id="filterTeamA">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#filterTeamA" href="#teamFilter">
                  <b>Search Teams</b>
                </a>
              </div>
              <div id="teamFilter" class="accordion-body collapse in">
                <div class="accordion-inner">
                  Team Name:</br><input type="text" ng-model="tnameFilter"></br>
                  Member:</br><input type="text" ng-model="memFilter"></br>
                  Area of Interest:</br><input type="text" ng-model="taoiFilter"></br>
                  FYP Year:</br><input type="text" ng-model="tfypFilter"></br>
                  Open Positions:</br><input type="text" ng-model="opFilter">
                </div>
              </div>
            </div>
          </span>
        </div>
        <div class="accordion" id="recruitTeamAccordion">
          <div class="accordion-group" ng-repeat="(key,val) in team_recruit | filter:searchTeamFunction"><!-- repeat number of teams recruiting -->
            <div class="accordion-heading" style="background-color:#FAFAFA">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#recruitTeamAccordion" href="#t_{{val.id}}" onMouseOver="this.style.fontWeight='bold'" onMouseOut="this.style.fontWeight='normal'"><!-- team id -->
                <div align="center">{{val.name}}</div><!-- team name -->
              </a>
            </div>
            <div id="t_{{val.id}}" class="accordion-body collapse in"><!-- team id -->
              <div class="accordion-inner" style="font-size:12px; background-color:white">
                <div style="color:grey; display:inline">Team members: </div><br>
                <!-- Start of team member detail accordion -->
                  
                   <div ng-repeat="(key,val) in val.member" align = "left">
                  <a href rel="tooltip" title="Email: {{val.email}} <br> Year of admission: {{val.yoa}} <br> Skill: {{val.skill}} <br> Area of interest: {{val.aoi}} <br> FYP year: {{val.fyp}}">{{val.full_name}}</span>

	                            </span><br>

	              </div>
                <!-- end of team member detail accordion -->

                <div style="color:grey; display:inline">Area of interest: </div> {{val.aoi}} <br>
                <div style="color:grey; display:inline">FYP term: </div> {{val.fyp}} <br>
                <div style="color:grey; display:inline">Wikipage: </div> {{val.wiki}} <br>
                <div style="color:grey; display:inline">Open Positions: </div> {{val.position}} <br>
                <div align="right">
                  <form ng-submit="requestJoinTeam('{{val.id}}')" ng-show="val.show_button"><!-- i want to join -->
                    <button type="submit" class="btn btn-mini">Request to Join</button>
                    <input type="text" id="t_{{val.id}}_requestMessage" placeholder="Message to Team">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>    
    </div>

	
  </div><!-- .container-fluid -->

	<!-- FOOTER -->
      
  <div class='span12'>
  <footer>
    <p style="font-size:smaller">&copy; 2013 Osmosis &middot; <a href="#">Privacy</a> &middot; <a href="http://smusg.asia.qualtrics.com/SE/?SID=SV_4ON5xzcvPnxxORf">Post UAT Survey</a></p>
  </footer>
  </div><!-- /.span12 -->
	  
  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="test/lib/angular/angular-mocks.js"></script>-->
    



    <script src="assets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap/bootstrap-typeahead.js"></script>
    <script type="text/javascript">
      $('.accordion-body').collapse("hide");
      $('#createTeam').collapse("show");
      $('#loadingscreen').hide();
    </script>
    
       <script type="text/javascript">
	function myFunction()
	{
	$('[rel=popover]').popover('hide');
	}

    $(document).ready(function () {
        
		    $('body').tooltip({
			    selector: '[rel=tooltip]',
			    html:true,
			    placement:'left',
			    container:'body'
			    		   
			});  
			
			$('body').popover({
		    selector: '[rel="popover"]',
		    trigger:'click',
		    animate:false,
		    html:true,
		    container:'body',
		    placement:'right',
		    title : "<span class='text-info'><strong>Invite me as your group member!</strong></span>"
                    
		});
		
		
	$(document).bind('click', function (e) {
        $('#body').popover('hide');
    });

    //Dont hide when I click anything inside #container
    $('#container').bind('click', function(e) {
        e.stopPropagation();
    });
		

	    
   });

</script>
  </body>
</html>
